streamlit
databricks-sdk==0.53.0
databricks-mcp
databricks-langchain
mcp>=1.9
langgraph
langchain
langchain-core
langchain-community
nest-asyncio
pydantic
prettytable
python-dotenv
pandas
numpy
plotly
kafka-python
fpdf2 